body {
    background-color: grey;
  }
  h1 {
    color: black;
  }
  p {
    color: white;
  }
  
    .Questions{ 
        color: black
    }
  nav{
    
    background-color: lightgrey;
  } 



  body {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
  }

  article {
    padding: 20px;
  }

  