html {
    font-family: sans-serif;
  }
  
  body {
    background-image: url("https://nystudio107.com/img/blog/_1200x630_crop_center-center_82_none/css-background-image.jpg?mtime=1558880401");
  }
 

  nav{
    
    background-color: lightgray;
  } 
  body {
    background-color: blueviolet;
  }
  
  
  article{
    background-color: lightgray;
    
  }
  
  h1{background-color: lightgray;} 

  h2{background-color: lightgray;} 

  footer{background-color: lightgray;} 
  
  
  
  
        /*navigation*/
        .topnav {
          background-color: darkgray;
          overflow: hidden;
        }
        .topnav a {
          float: left;
          display: block;
          color: #f2f2f2;
          text-align: center;
          padding: 14px 16px;
          text-decoration: none;
          font-size: 17px;
        }
        .topnav a:hover {
          background-color: black;
          color: red;
        }
        .topnav a.active {
          background-color: red;
          color: white;
        }
  
        @media screen and (max-width: 600px) {
          .topnav a:not(:first-child) {display: none;}
          .topnav a.icon {
            float: right;
            display: block;
          }
        }
       
  
  
        
        @media screen and (max-width: 600px) {
          .topnav.responsive {position: relative;}
          .topnav.responsive a.icon {
            position: absolute;
            right: 0;
            top: 0;
          }
          .topnav.responsive a {
            float: none;
            display: block;
            text-align: left;
          }
        }